.appMainWeather {
    padding: 30px;
    background: var(--bg-block-gradient);
    transition: height 1s;

    &Form {
        max-width: 500px;
        margin: 0 auto;
    }

    &Input {
        min-width: 250px;
        margin-right: 10px;
        padding: 7px;
        background: transparent;
        border: none;
        border-bottom: 1px solid transparent;
        text-align: center;
        color: var(--main-text);
        font-size: 1.7rem;
        transition: border-color 0.4s;

        &:active,
        &:focus,
        &:hover {
            color: var(--main-text);
            border-color: var(--main-text);
        }

        &:active,
        &:focus {
            outline: none;
        }

        &::placeholder {
            font-size: 1.5rem;
            color: var(--main-text);
            opacity: 0.7;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    &Button {
        width: 80px;
        padding: 7px 10px;
        background-color: transparent;
        border: none;
        text-align: center;
        color: var(--main-text);
        font-size: 1.5rem;
        transition: font-weight 0.4s;

        &:active,
        &:focus,
        &:hover {
            font-weight: 600;
        }
    }

    &Data {
        display: flex;
        margin-top: 30px;
    }

    &Pictire {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin-right: 70px;
        overflow: hidden;
    }

    &Wrapper {
        margin: 0 70px;
    }

    &Data p {
        color: var(--main-text);
        font-size: 1.2rem;
    }

    &Data p + p {
        margin-top: 7px;
    }

    p sup {
        font-size: 1rem;
    }

    &Place {
        position: relative;
    }
}
