html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

// Стили для разработки, удалить после готовности проекта
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-size: var(--main-font-size);
  }

a {
    outline: none;
}