.appMainNasa {
    display: flex;
    padding-bottom: 50px;

    &Content {
        margin-right: 50px;
    }

    &Title {
        margin-bottom: 50px;
        font-size: 4rem;
        font-weight: 600;
    }

    &Expl {
        font-size: 1.25rem;
        line-height: 1.5;
    }

    &Picture {
        flex-shrink: 0;
        width: 60%;
    }

    &Img {
        width: 100%;
    }

}